{% extends 'base.html' %}

{% block title %}她的期望如下，您很合适哦{% endblock %}

{% block form %}
<form method = 'post' enctype="multipart/form-data" action="/choice_suitable_girl">
    {% csrf_token %}
    {% if suitable_girl_expection %}
        城市：{{ suitable_girl_expection.city }}<br>
        性别：{{ suitable_girl_expection.sex }}<br>
        身高：{{ suitable_girl_expection.stature }}<br>
        体重：{{ suitable_girl_expection.weight }}<br>
        相貌：{{ suitable_girl_expection.appearance }}<br>
        性格：{{ suitable_girl_expection.character }}<br>
        兴趣：{{ suitable_girl_expection.hobby }}<br>
        特长：{{ suitable_girl_expection.speciality }}<br>
        习惯：{{ suitable_girl_expection.habit }}<br>
        每月生活费：{{ suitable_girl_expection.wealth }}<br>
        <input type="submit" value = "支付10元门槛费发起邀请" />
        <br>
        如果女生接受，您将收到女生的联系方式。<br>
        如果女生三天内不接受，门槛费将在24小时后返还。
    {% else %}
        还没有发现合适的女生，如有我们会第一时间短信通知您。<br>
    {% endif %}
</form>
{% endblock %}